-# - if flash[:notice]
-#   .notice= flash[:notice]
= javascript_include_tag 'success_modal.js'
.new-home
  = video_tag "bg-video.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "bgVideo"
  .row 
    .col.col-2.main-container
      .main-title
        %p
          FACESBYPLACES
        .description
          %strong FacesByPlaces.com 
          is taking memorials to a higher standard. A platform that celebrates life's journey by keeping yesterday's moments alive today one face and place at a time.
        %a.button{href:"/about"} Learn more
    .col.col-2.home-page-image-container
      .home-page-image
    .col.col-2.container
      .text.bold.coming-soon COMING SOON
      .social-buttons
        .googleplay
        .appstore
    .home-page-form-image
      .text.get-in-touch GET IN TOUCH
      .form
        - flash.each do |type, msg|
          %div{:style => "width: 75%; padding: 12px 20px; margin: 8px 0; background-color: #FF2F12"}
            = msg
        = form_for(:newsletter, url: api_v1_newsletter_index_path) do |f|
          = f.text_field :name, :placeholder => "Your Name"
          = f.email_field :email_address, :placeholder => "Your Email Address"
          = f.text_area :message, :placeholder => "Message"
          = f.submit "Submit", :id => 'success-modal-button'

- content_for :modal do
  =render partial: "success_modal"