-# - if flash[:notice]
-#   .notice= flash[:notice]
.new-home
  = video_tag "bg-video.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "bgVideo"
  .row 
    .col.col-2.main-container
      .main-title
        %p
          FACES BY PLACES
        .description
          %strong FacesByPlaces.com 
          us taking memorials to  a higher standard. A platform that celebrates life’s journey by keeping yesterday’s moments alive today one face and place at a time.
        %a.button{href:"/about"} Learn more
    .col.col-2.home-page-image-container
      .home-page-image
    .col.col-2.container
      .text.bold.coming-soon COMING SOON
      .social-buttons
        .googleplay
        .appstore
    .home-page-form-image
      .text.get-in-touch GET IN TOUCH
      .form
        = form_for(:newsletter, url: api_v1_newsletter_index_path) do |f|
          = f.phone_field :phone_number, :placeholder => "Your Phone Number"
          = f.email_field :email_address, :placeholder => "Your Email Address"
          = f.text_area :message, :placeholder => "Message"
          = f.submit "Submit"

=render partial: 'success_modal'